<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$firstfunctiondory</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://firstfunctiondory.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b70f540e-716f-4e91-bc96-a59eafa89488/resourceGroups/WebApp/providers/Microsoft.Web/sites/firstfunctiondory</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://firstfunctiondory.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>